@import "compass/reset";
@import "compass/css3";

@mixin clearfix() {
	&:after{
		display:block;
		clear:both;
		content:"";
		visibility:hidden;
		height:0;
	} 
	zoom:1;
}
a:link {color: #fff} /* 未访问的链接 */
a:visited {color: #fff} /* 已访问的链接 */
a:hover {color: #fff} /* 鼠标移动到链接上 */
a:active {color: #fff} /* 选定的链接 */
body{ 
}
canvas{ 
	margin-left: 100px; 
	margin-top: 30px; 
    // background-image: url(images/mnls.png);
}
.cat{
	position: absolute;
	top:245px;
	left: 320px;
}