@charset "UTF-8";
/* line 5, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/style.scss */
a:link {
  color: #fff;
}

/* 未访问的链接 */
/* line 15, ../sass/style.scss */
a:visited {
  color: #fff;
}

/* 已访问的链接 */
/* line 16, ../sass/style.scss */
a:hover {
  color: #fff;
}

/* 鼠标移动到链接上 */
/* line 17, ../sass/style.scss */
a:active {
  color: #fff;
}

/* 选定的链接 */
/* line 20, ../sass/style.scss */
canvas {
  margin-left: 100px;
  margin-top: 30px;
}

/* line 25, ../sass/style.scss */
.cat {
  position: absolute;
  top: 245px;
  left: 320px;
}

/* line 30, ../sass/style.scss */
.resetBtn {
  position: absolute;
  top: 30px;
  left: 700px;
  width: 80px;
  height: 50px;
  background: #1abc9c;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 1.3em;
}

/* line 42, ../sass/style.scss */
.te {
  position: absolute;
  top: 130px;
  left: 700px;
  font-size: 1.3em;
}

/* line 48, ../sass/style.scss */
p {
  position: absolute;
  top: 230px;
  left: 700px;
  font-size: 1.3em;
}
